<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.musicapps.tubidyeaskekuli">

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.TransparentTheme.NoActionBar">
        <activity
            android:name="com.musicapps.tubidyeaskekuli.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:windowSoftInputMode="adjustNothing"
            android:name="com.musicapps.tubidyeaskekuli.MainActivity"
            android:exported="true">

        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <service android:name="com.musicapps.tubidyeaskekuli.MusicService" />

        <receiver android:name="com.musicapps.tubidyeaskekuli.notifservice.NotificationActionService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <meta-data android:name="applovin.sdk.key"
            android:value="TEdUi_VLLTs7fcT0mWggoJzri7O4h1cD6znX6UeZefb2flVJ-0TmTM5nWZFqTGyBnwTDTcZTLQm3wfsFV6b5PN"/>
    </application>

</manifest>